.nav{
    display: flex;
   position: fixed;
   width: 83%;
    background-color:#F5F8FA;
    margin-top: -51rem;
    margin-left: 15.5rem;
    box-shadow: 2px 1px 2px 1px;
    /* margin-right: 10rem; */
   z-index: 1;
}
body {
  background-color: #f5f8fa;
  color: black;
}
.header{
  box-shadow: 1px 1px 1px 1px;
  padding-top: -20px;

}

  .dashmenu{
    margin-left: 50rem;
    color: black;
    font-size: 30px;
    padding-left: 20px;
    margin-top: -20px;
  }
  .sun{
    padding-left: 30px;
    padding-right: 30px;
  }
  .search{
 
    font-size: 30px;
    margin-top: 10px;
    padding-top: 40px;
    margin-bottom: -20px;
    margin-left: 15rem;
  }
.nav img{
  width: 5%;
  height: 20%;
  border-radius: 100%;
  
}