.recent-products{
    
    width: 70%;
    margin-left: 20rem;
    margin-top: 10rem;
}
.recent-products h3{
    font-size: 30px;
}
.img{
  
}
.recent-products img{
    width: 40px;
    height: 40px;
}
.recent-products, .top-selling {
    background: #f8fbff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
.stock{
    color: blue;
    
    font-weight: 40px;
}
.productheader{
   margin-top:1rem;
   margin-bottom: -5rem;
}
.searc-input{
margin-right: -30rem;
margin-top: 40rem;
}
.filter-dropdown{
   border: none;
    padding:10px 20px 10px 20px;
    margin-left: 10px;
    
}
.productheader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20rem;
}
.status.published {
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
  }
  
  .status.draft {
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
  }
 