


    

.blog-container{
    display: flex;
   padding-left:30px ;
   color: black;
   grid-template-columns: repeat(3,1fr);
}
.blog-image{
    width: 300px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.blog-content{
    padding-left: 30px;
    margin-left: 30px;
}

 