:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: white;
  color: black;
}



.main{
  background-color: white;
  
  min-height: 30vh;
width:100%;
}
h1{
  color: black;
  padding-left: 80px;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.menu1{
  display: flex;
  flex-direction: row;
}
.left_content ul{
  color: black;
  list-style: none;
  padding-left: 200px;
  line-height: 30px;
}
.right_content h2{
  font-size: 30px;
  color:black;
  padding-bottom: -5rem;
margin-top: -200px;
padding-left: 400px;

}
.butto{
font-size: 50px;
padding: 30px;
margin-left: 400px;

}
.right_content {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-left: 200px;
}
.item{
 font-size: small;
  
}
.image_container h3{
  color: black;
  font-size: 20px;
  margin-left: 50px;

}
.image_container{
  display: flex;
  padding-left: 40px;
  margin-left: 100px;
}
.New p{
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 100px;
 
}
.container p1{
  display: flex;
  color: black;
  padding-left: 150px;
  font-weight: bold;
  font-size: 20px;
}

.products_container {
  display: flex;
  padding-left: 40px;
 
}
.products_container img{
  padding-left: -15px;
  box-shadow:border-box;
  
}
.products_container h3{
  padding-left: 120px;
  
}
.products_container p{

  padding-left: 120px;
}
.container p2{
  color: black;
  font-size: 15px;
  font-weight: bolder;
  padding-left: 180px;
}
.container img{
  height: 50vh;
  padding-left: 90px;
}
.buy{
  background-color: #69727D;
 margin-top:40px; 
  padding: 10px;
  font-size: 20px;
  margin-left: 600px;
  border-radius: 5px;
} 
.search-icon1{
  color:#F3A23E;
  font-size: 30px;
}
.search-icon2{
  color: #DDDDDD;
  font-size: 30px;
}
.star{
  margin-left: 150px;
}
.moon-icon1{
  color:gray;
  background-color: #BFB9A6;
  border-radius: 100%;
  font-size: 30px;
}
.moon-icon2{
background-color: #A27A5C;
color: gray;
border-radius: 100%;
font-size: 30px;
}
.moon-icon3{
  background-color: #DDDDDD;
  color: gray;
  border-radius: 100%;
  font-size: 30px;
  
}
.moon-icon4{
  background-color: #FFFFFF;
  font-size: 30px;
  border-radius: 100%;
  color: gray;
}
.moon{
  padding-left: 10rem;
  justify-content: space-between;
}
.view{
  padding:15 px;
  margin-left: 200px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  opacity: 6;
  transition: 0.6s;
  background-color: #69727D;



}
.vendor p1{
  display: flex;
  color: black;
  padding-left: 100px;
  font-size: 30px;
  font-weight: bolder;
  
}
.container {
  display: flex;
 margin-left: -60px;

}
.container img{
  margin-left: 30px;
}

.vendor_container  img{
display: flex;
width: 85%;

margin-left: 10px;
padding-left: 50px;
}
.vendor_container{
  display: flex;
  justify-content: space-between;
 
}
.vendor_card h3{
  font-size:50px ;
  padding-left: 50px;
}
.vendor_card p{
  padding-left: 60px;
  font-size: 20px;
}


.vendor_card{
  padding-left: 50px;
}
.arrow{
  color: gray;
  font-size: 50px;
  padding-left: 200px;
  margin-top:-250px;
}
.vendor p2{
  color: black;
  padding-left: 100px;
  margin-top: 20px;
}
.goarrow{
  color: black;
  border: 1px solid black;
  border-radius: 100%;
   font-size: 50px;
 margin-left: 10rem;
   margin-top: 10px;

}

.us p1{
  color: black;
margin-top: 10rem;
  margin-left: 90px;
  font-weight: bold;
  font-size: 30px;

}
.us p2{
  color: black;
  margin-left: 40px;

  
}
.truck{
  color: black;
  border: 1px solid black;
  border-radius: 100%;
   font-size: 50px;
   margin-left: 70px;
   margin-top: 10px;

}
.home{
  color: black;
  border: 1px solid black;
  border-radius: 100%;
   font-size: 50px;
   margin-left: 150px;
   margin-top: 10px;
}
.us{
  display: flex;
  margin-left: 80px;
  justify-content: space-between;
}
.follow {
  margin-top: 20px;
  display: flex;
  margin-bottom: 10px;
}
.follow img{
  width: 35vh;
  height: 35vh;
padding-left:- 5px;
border-radius: 5px;
}
.follow p{
  color: black;
}@media(max-width:420px){

  .follow {
    margin-top: 20px;
    display:block;
    margin-bottom: 10px;
  }
  .follow img{
    width: 35vh;
    height: 35vh;
  padding-left:- 5px;
  border-radius: 5px;
  }
  h1{
    color: black;
    font-size: 20px;
  }
  .container {
    display: block;
   margin-left:-10px;
  
  }
  .container img{
    margin-left: -50px;
  }
  .us{
    display: block;
    margin-left: 50px;
    justify-content: space-between;
  }
  .vendor_container{
    display: block;
    justify-content: space-between;
  } 
  .vendor_container  img{
    display: flex;
    width: 85%;
    height: 40vh;
    margin-left: -20px;
    padding-left: 20px;
    } 
    .products_container {
      display: block;
      padding-left: -40px;
     
    }
    .products_container img{
      padding-left: -90px;
      box-shadow:border-box;
      margin-left: -10px;
      
    }
    .image_container{
      display: block;
      padding-left: 40px;
      margin-left: 50px;
    }
    .butto{
      font-size: 50px;
      padding: 30px;
      margin-left: -10px;
      
      }
      .buy{
        background-color: #69727D;
       margin-top:40px; 
        padding: 10px;
        font-size: 20px;
        margin-left: 
        100px;
        border-radius: 5px;
      }
      .right_content h2{
        font-size: 20px;
        color:black;
        padding-bottom: -5rem;
      margin-top: 20px;
      padding-left: 10px;
      margin-left: -90px;
      
      } 
      .vendor_card h3{
        font-size:40px ;
        padding-left: 40px;
      }
 
}
